body {
    background-color: #0D1821;
    color: white;
    font-family: 'Raleway';
}

#header-img {
    width: 100px;
    height: auto;
}

#headtitle {
    margin-top: -75px;
    margin-left: 110px;
}
h1, h2, h4 {
    font-family: 'Langar';
}

a {
    color: cadetblue;
}

.main-section {
    text-align: center;
}

.main-section p {
    width: 800px;
    margin: 0 auto;
}

.main-section img {
    width: 1250px;
}

#oda, #okul {
    width: 300px;
}